html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Gill Sans', sans-serif;
}

.header {
    margin-top: 7px;
    margin-bottom: 3px;
    margin-left: 32px;
    justify-content: flex-end;
    display: flex !important;
    max-height: 100px;
    width: auto;
}

.title-header {
    width: 100%;
    padding-left: 160px;
    font-size: 25px;
    color: #393d3f;
    border: solid 2px #80808073;
    padding-left: 30px;
}

nav {
   /* margin-left: 250px;*/
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 17px !important;
}

ul > li {
    display: inline-block;
    padding: 20px;
    font-size: 18px;
}

a:link {
    text-decoration: none !important;
    color: #514bbe !important;
}

a:visited {
    text-decoration: none !important;
    color: #3b05ff !important;
}

a:hover {
    text-decoration: none !important;
    color: #8505ff !important;
}

a:active {
    text-decoration: none !important;
    color: #3b05ff !important;
}

.content {
    margin: 30px;
}

.patient-info {
    margin-top: 50px;
}

.footer {
  text-align: left;
  width: 100%;
  font-size: 30px;
  color: #000000;
  border: solid 2px #80808073;
}
.circle {
  border-radius: 50%;
  width: 25vw;
  height: 25vh;
  background-color: #C4A484;
  border: solid 2px #80808073;
  justify-items: space-between;
}

.row {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: space-between;
  grid-template-columns: 1fr auto 1fr;
  gap: 16px;
  }
  .title-header-home {
      width: 100%;
      padding-left: 200px;
      font-size: 45px;
      color: #000000;
      border: solid 2px #80808073;
      padding-left: 30px;
      padding-top:70px;
      padding-bottom:50px;
  }
  .row-two{
      padding-top: 30px;
      padding-bottom:30px;
      }