.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: 1px solid black;
}



.footer-wrapper {
  margin-top: 20px;
  text-align: center;
}
.prescription-table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  font-size:100px;
}

.prescription-table th, .prescription-table td {
  text-align: left;
  padding: 8px;
  border: solid 2px #80808073;
  border-left: 1px solid black;
  border-right: 1px solid black;
}



html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Gill Sans', sans-serif;
}

.header {
    margin-top: 7px;
    margin-bottom: 3px;
    margin-left: 32px;
    justify-content: flex-end;
    display: flex !important;
    max-height: 100px;
    width: auto;
}

.title-header {
    width: 100%;
    padding-left: 160px;
    font-size: 50px;
    color: #393d3f;
    border: solid 2px #80808073;
    padding-left: 30px;
}

nav {
   /* margin-left: 250px;*/
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 35px !important;
}

ul > li {
    display: inline-block;
    padding: 20px;
    font-size: 18px;
}
.footer {
  text-align: center;
  width: 100%;
  font-size: 25px;
  color: #000000;
}
.circle-parent{
  text-align:center;
}

tr {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
}