.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: 1px solid black;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.footer-wrapper {
  margin-top: 20px;
  text-align: center;
}
.prescription-table {
  border-collapse: collapse;
  width: 100%;
}

.prescription-table th, .prescription-table td {
  text-align: left;
  padding: 8px;
}

.prescription-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.prescription-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.prescription-table tr:hover {
  background-color: #ddd;
}

html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Gill Sans', sans-serif;
}

.header {
    margin-top: 7px;
    margin-bottom: 3px;
    margin-left: 32px;
    justify-content: flex-end;
    display: flex !important;
    max-height: 100px;
    width: auto;
}

.title-header {
    width: 100%;
    padding-left: 160px;
    font-size: 50px;
    color: #393d3f;
    border: solid 2px #80808073;
    padding-left: 30px;
}

nav {
   /* margin-left: 250px;*/
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 17px !important;
}

ul > li {
    display: inline-block;
    padding: 20px;
    font-size: 18px;
}
.footer {
  text-align: center;
  width: 100%;
  font-size: 25px;
  color: #000000;
}