.container {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  font-family: 'Gill Sans', sans-serif;
}

.container-md {
  width: 80%;
  height: 60%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.login-page {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form-left {

  display: flex;
  justify-content: center;
  object-fit: cover;
}

.form-right {
  width: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}

#submit-button {
  width: 100%;
  height: 50px;
  background-color: #514bbe;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

#submit-button:hover {
  cursor: pointer;
  background-color: #7e58a4;
}


img {
  max-height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}