<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../style.css" type="text/css">
    <link rel="stylesheet" href="../animal-profile.css" type="text/css">
    <title>Home</title>
</head>
<body>

<div class="header">

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a th:href="@{'/patientView'}">Patient Portal</a></li>
            <li><a th:href="@{'/doctorView'}">Doctor Portal</a></li>
            <li><a href="@{'/prescriptionView'}">Pharmacy</a></li>
            <li><a href="../">Scheduling</a></li>
        </ul>
    </nav>
</div>
</div>
<div class="title-header-home">
    <h3>Welcome to the Doctor's Office, Please have a seat we will be with you in a minute</h3>
</div>

<div class="row-two" text-align:center>
    <h1> We care about you</h1>

<!--        <div class="column">-->

<!--        </div>-->
<!--        <div class="column">-->

<!--        </div>-->
<!--        <div class="column">-->

<!--        </div>-->
<!--        <div class="column">-->

            <div class="circle-parent">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>



    </div>
</div>
<div class="footer">
    <footer> Copyright 2023</footer>
</div>
</body>
</html>