<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Gill+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css" type="text/css">
    <title></title>
</head>
<body>

    <div class="header">

        <nav>
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="../">Patient Portal</a></li>
                <li><a href="../">Doctor Portal</a></li>
                <li><a href="../">Pharmacy</a></li>
                <li><a href="../">Scheduling</a></li>
            </ul>
        </nav>
    </div>

    <div class="title-header">
        <p>Patient Portal -  <span th:if="${patient.isPresent()}" th:text="${patient.get().name}"></span></p>
    </div>

    <div class="content">

        <div class="patient-info">
            <p><b>Address:</b></p>
            <p><span th:if="${patient.isPresent()}" th:text="${patient.get().address}"></span></p>
        </div>

        <div class="patient-info">
            <p><b>Next Appointment:</b></p>
            <tr th:if="${appointments.isEmpty()}">
                <td>No appointments.</td>
            </tr>
            <td th:text="${appointment.day} + ', ' + ${appointment.time}"></td>
<!--                <td th:text="${appointment.day} + ', ' + ${appointment.time} + ' with Doctor ' + ${appointment.doctor.name} + ' (' + ${appointment.doctor.specialty} + ')'"></td>-->
        </div>


        <div class="patient-info">
            <p><b>Prescriptions:</b></p>
            <tr th:if="${prescriptions.isEmpty()}">
                <td>No prescriptions.</td>
            </tr>
            <tr th:unless="${prescriptions.isEmpty()}"  th:each="prescription : ${prescriptions}" >
                <td th:text="${prescription.prescription} + '.'"></td><br>
                <td th:text=" 'Prescribed by Doctor ' + ${prescription.doctor.name} + ' (' + ${prescription.doctor.profession} + ')'"></td>
            </tr>
        </div>


    </div>
</body>
</html>
