<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Gill+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css" type="text/css">
    <title></title>
</head>
<body>

    <div class="header">

        <nav>
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="../">Patient Portal</a></li>
                <li><a th:href="@{'/doctorView'}">Doctor Portal</a></li>
                <li><a href="../">Pharmacy</a></li>
                <li><a href="../">Scheduling</a></li>
            </ul>
        </nav>
    </div>

    <div class="title-header">
        <p>Patient Portal -  <span id="patientName" th:if="${patient.isPresent()}" th:text="${patient.get().name}"></span></p>
        <input type="hidden" id="patientId" th:attr="value=${patient.get().id}">
        <input type="hidden" id="patientEmail" th:attr="value=${patient.get().email}">

    </div>

    <div class="content">

        <div class="patient-info">
            <p><b>Address:</b></p>
            <p><span id="address" th:if="${patient.isPresent()}" th:text="${patient.get().address}"></span> <a href="#" id="edit-address-link">[edit]</a></p></p>
        </div>

        <div class="patient-info">
            <p><b>Next Appointment:</b></p>
            <tr th:if="${appointments.isEmpty()}">
                <td>No appointments.</td>
            </tr>

            <tr th:unless="${appointments.isEmpty()}"  th:each="appointment : ${appointments}" >

                <td th:text="${appointment.day} + ' at ' + ${appointment.time} + ' with Doctor ' + ${appointment.doctor.name} + ' (' + ${appointment.doctor.profession} + ')'"></td>
            </tr>

        </div>


        <div class="patient-info">
            <p><b>Prescriptions:</b></p>
            <tr th:if="${prescriptions.isEmpty()}">
                <td>No prescriptions.</td>
            </tr>
            <tr th:unless="${prescriptions.isEmpty()}"  th:each="prescription : ${prescriptions}" >
                <td th:text="${prescription.prescription} + '.'"></td><br>
                <td th:text=" 'Prescribed by Doctor ' + ${prescription.doctor.name} + ' (' + ${prescription.doctor.profession} + ')'"></td>
            </tr>
        </div>


    </div>

    <script src="../patient/patient-profile.js" type="application/javascript"></script>

</body>
</html>
